# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [17]:
newset = set()

* create a non empty set
* print that set

In [18]:
newset = set(["a", "b", "c"])
print(newset)

{'c', 'b', 'a'}

* iterate over the set and print results

In [19]:
for each in newset:
  print(each)

c
b
a

* add one item to the set

In [21]:
newset.add('d')

* add multiple items to the set

In [22]:
newset.update(['e','f','g',"allo","allo2"])

In [23]:
print(newset)

{'d', 'allo2', 'a', 'b', 'e', 'g', 'f', 'c', 'allo'}

* remove an item from a set if it is present in the set

In [24]:
if "allo2" in newset:
  newset.remove("allo2")

In [25]:
print(newset)

{'d', 'a', 'b', 'e', 'g', 'f', 'c', 'allo'}

* find maximum and minimum values of the set

In [26]:
print(max(newset))
print(min(newset))

g
a

* print the length of the set

In [27]:
print(len(newset))

8

* create an intersection of x and y

In [28]:
newset2 = newset
print(newset2 & newset)

{'d', 'a', 'b', 'e', 'g', 'f', 'c', 'allo'}

In [29]:
print(newset2)
newset2.update([25,1,2,3,4,5,6,7,7])

{'d', 'a', 'b', 'e', 'g', 'f', 'c', 'allo'}

* create an union of x and y

In [30]:
print(newset2|newset)

{'d', 1, 2, 3, 4, 5, 6, 7, 'g', 'f', 'c', 'allo', 25, 'a', 'b', 'e'}

* create difference between x and y

In [31]:
print(newset-newset2)

set()

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [33]:
from collections import Counter
s = "black cat jumped over white cat"
words = s.split()
Counter(words)

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [34]:
d = Counter(words).most_common()
d

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [35]:
from collections import OrderedDict, defaultdict
s3 = "black cat jumped over white cat"
words2 = s.split()
od = OrderedDict(Counter(words))
od2 = OrderedDict(sorted(od.items(), key=lambda t: t[1]))
od2

OrderedDict([('black', 1),
             ('jumped', 1),
             ('over', 1),
             ('white', 1),
             ('cat', 2)])

* create deque from list set used in first exercise

In [37]:
from collections import deque
deq = deque(s)
deq

deque(['b',
       'l',
       'a',
       'c',
       'k',
       ' ',
       'c',
       'a',
       't',
       ' ',
       'j',
       'u',
       'm',
       'p',
       'e',
       'd',
       ' ',
       'o',
       'v',
       'e',
       'r',
       ' ',
       'w',
       'h',
       'i',
       't',
       'e',
       ' ',
       'c',
       'a',
       't'])

* append number 10 to deque

In [38]:
deq.append(10)
deq

deque(['b',
       'l',
       'a',
       'c',
       'k',
       ' ',
       'c',
       'a',
       't',
       ' ',
       'j',
       'u',
       'm',
       'p',
       'e',
       'd',
       ' ',
       'o',
       'v',
       'e',
       'r',
       ' ',
       'w',
       'h',
       'i',
       't',
       'e',
       ' ',
       'c',
       'a',
       't',
       10])

* remove element from the right end from deque

In [39]:
deq.pop()
deq

deque(['b',
       'l',
       'a',
       'c',
       'k',
       ' ',
       'c',
       'a',
       't',
       ' ',
       'j',
       'u',
       'm',
       'p',
       'e',
       'd',
       ' ',
       'o',
       'v',
       'e',
       'r',
       ' ',
       'w',
       'h',
       'i',
       't',
       'e',
       ' ',
       'c',
       'a',
       't'])

* remove element from the left end from deque

In [40]:
deq.popleft()
deq

deque(['l',
       'a',
       'c',
       'k',
       ' ',
       'c',
       'a',
       't',
       ' ',
       'j',
       'u',
       'm',
       'p',
       'e',
       'd',
       ' ',
       'o',
       'v',
       'e',
       'r',
       ' ',
       'w',
       'h',
       'i',
       't',
       'e',
       ' ',
       'c',
       'a',
       't'])

* delete all elements from deque

In [41]:
deq.clear()
deq

deque([])

* create named tuple (people) with name and surname as position names

In [51]:
from collections import namedtuple

student = namedtuple("student", "First, Last")
s1 = student("J", "B")
s1

student(First='J', Last='B')

* print name and surname

In [50]:
print(s1.First + " " + s1.Last)

J B

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [54]:
exception_string = ["Hello1", "1", "3", "4", 1]
for i in range(len(exception_string)):
    try:
        exception_string[i] = exception_string[i].upper()
    except:
        print("error happened")
print(exception_string)

error happened
['HELLO1', '1', '3', '4', 1]

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [61]:
thedict = {
    "darth vader": "father",
    "leia": "sister",
    "han": "The guy who drives the ship",
    "r2d2": "driod"
}
def relation_to_luke(name):
    try:
        print("Luke, I am your " + thedict[name.lower()] + ".")
    except KeyError:
        print("No relation")

#### Task I
Fix errors in the function above so we can run following code

In [60]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father.
Luke, I am your sister.
Luke, I am your lover.
Luke, I am your driod.

In [ ]:
relation_to_luke("aaaa")

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [62]:
relation_to_luke("aaaa")

No relation